In [ ]:
12/5

2.4

In [ ]:
print(format(1/3,'.2f'))

0.33

In [ ]:
print('Hello \nJenifer')

Hello
Jenifer

In [ ]:
print('Hello world \n \n')

Hello world

In [ ]:
print('1 \n2 \n3')

1
2
3

In [ ]:
print('\n Hello World')

 Hello World

In [ ]:
print('A \t B \t C \t D')
print('E \t F \t G')
print('H \t I')
print('J')

A 	 B 	 C 	 D
E 	 F 	 G
H 	 I
J

In [ ]:
format('Hello','<20')

'Hello               '

In [ ]:
format('Hello','>10')

'     Hello'

In [ ]:
print('Very Good Morning',format(',',',<30'),'\n',format('.','.<30'),'Have a Nice day!')

Very Good Morning ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
 .............................. Have a Nice day!

In [ ]:
print('    ',"*", format('\n    ','$<8'),format('\n  $','$<10'),
format('\n&','*<11')+'&')

     *
    $$$
  $$$$$$$
&*********&

In [ ]:
print(format(0.08,'%'))

8.000000%

In [ ]:
print(format(255,'b'))

11111111

In [ ]:
emp_name="Damini"
emp_age=17
print("name: %s age: %d"%(emp_name,emp_age))

name: Damini age: 17

In [ ]:
emp_name="Damini"
emp_age=17
print("name: %d age: %s"%(emp_age,emp_name))

name: 17 age: Damini

In [ ]:
emp_name="Damini"
emp_age=17
emp_salary=15000
emp_id=321
print("name:{} \nage:{} \nsalary:{} \nid:{}".format(emp_name,emp_age,emp_salary,emp_id))

name:Damini
age:17
salary:15000
id:321

In [ ]:
emp_name="Damini"
emp_age=17
emp_salary=15000
emp_id=321
print("name:{0} \nage:{1} \nsalary:{2} \nid:{3}".format(emp_name,emp_age,emp_salary,emp_id))

name:Damini
age:17
salary:15000
id:321

In [ ]:
format('madhu','^15')

'     madhu     '

In [ ]:
print(type(emp_age))

<class 'int'>

In [ ]:
print(type(emp_name))

<class 'str'>

In [ ]:
a=50
b=a
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

In [ ]:
a=50
b=a
a=20
print(id(a))
print(id(b))

94467078786144
94467078787104

In [ ]:
a=b=c=1
a,b,c=1,2,'john'
print(a,b,c)

1 2 john

In [ ]:
x1,y1=2,3 #point one
x2,y2=6,8 #point two
m,b=float(y1-y2)/(x1-x2),y1-float(y1-y2)/(x1-x2)*x1
print('y=',m,'*x+',b)

y= 1.25 *x+ 0.5

In [ ]:
name=input('What is your name?')
print('Entered name is',name)

What is your name?Madhusudhan
Entered name is Madhusudhan

In [ ]:
age=int(input('What is your age? '))
gpa=float(input('What is your gpa? '))

What is your age? 25
What is your gpa? 7.6

In [ ]:
import keyword
print(keyword.iskeyword('int'))
print(keyword.iskeyword('if'))
print(keyword.iskeyword('yield'))
print(keyword.iskeyword('exit'))

False
True
True
False

In [ ]:
print(10==35)
print(10!=35)
print(-10+35)
print(4*2)
print(4**2)
print(45/10)
print(2025%10)
print(2015//10)

False
True
25
8
16
4.5
5
201

In [ ]:
print(2+3+4**2+1**3)
print(2+((3*4)-8))
print(2+(3*4))
print(2+3*(4-1))

22
6
14
11

In [ ]:
f=int(input("What is the temperature in Fahrenheit?: "))
cel=((f-32)*5)/9
print(format(cel,'.2f'))

What is the temperature in Fahrenheit?: 23
-5.00

In [ ]:
c=int(input('Enter temperature: '))
f=float((c*9/5)+35)
print(format(f,'.2f'))

Enter temperature: 50
125.00

In [ ]:
"""SUM OF THREE INTEGERS"""

a=int(input("Enter a value: "))
b=int(input("Enter b value: "))
c=int(input("Enter c value: "))
print('Sum of 3 numbers is:',a+b+c)

Enter a value: 98
Enter b value: 57
Enter c value: 33
Sum of 3 numbers is: 188

In [ ]:
a=int(input('Enter a value: '))
b=int(input('Enter b value: '))
print(format(a+b,'.2f'))

Enter a value: 34
Enter b value: 43
77.00

In [ ]:
'''Placeholders'''

num1=float(input('Enter first number: '))
num2=float(input('Enter second number: '))
sum=num1+num2
print('The sum of {0} and {1} is: {2}'.format(num1,num2,sum))

Enter first number: 32
Enter second number: 54
The sum of 32.0 and 54.0 is: 86.0

In [ ]:
'''Placeholders'''

txt1='My name is {fname},i am {age}'.format(fname='John',age=36)
txt2='My name is {0},i am {1}'.format('John',36)
txt3='My name is {},i am {}'.format('John',36)
print(txt1)
print(txt2)
print(txt3)

My name is John,i am 36
My name is John,i am 36
My name is John,i am 36

In [ ]:
'''SWAPPING TWO NUMBERS'''
a,b=10,20
print('Before swapping: {a} ',a)
print('Before swapping: {b} ',b)
a,b=b,a
print('After swapping: {a} ',a)
print('After swapping: {b} ',b)

Before swapping: {a}  10
Before swapping: {b}  20
After swapping: {a}  20
After swapping: {b}  10

In [ ]:
'''Area of the circle'''

pi=3.14
r=float(input('Enter radius of the circle: '))
area=pi*(r*r)
print('Area of the circle is= %.2f '%(area))

Enter radius of the circle: 20
Area of the circle is= 1256.00

In [ ]:
x=int(input('Enter x value: '))
y=int(input('Enter y value: '))
power=x**y
print('X power Y is: ',power)

Enter x value: 4
Enter y value: 2
X power Y is:  16

In [ ]:
import cmath

a=2
b=4
c=6
d=(b**2)-(4*a*c)
sol1=(-b- cmath.sqrt(d))/(2*a)
sol2=(-b+ cmath.sqrt(d))/(2*a)
print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are (-1-1.4142135623730951j) and (-1+1.4142135623730951j)

In [ ]:
'''Area of a Traiangle'''

b=int(input('Enter the value of b: '))
h=int(input('Enter the value of h: '))
area=1/2*b*h
print('The area of the triangle is:',area)

Enter the value of b: 5
Enter the value of h: 5
The area of the triangle is: 12.5

In [ ]:
'''Area of a Square'''

s=float(input('Enter the number: '))
side=s*s
print('The area of a Square is %.2f'%side)

Enter the number: 5
The area of a Square is 25.00

In [ ]:
'''Area of a Rectangle'''

w=float(input('Enter the width: '))
h=float(input('Enter the height: '))
area=w*h
print('Area of the Rectangle %.2f'%area)

Enter the width: 7
Enter the height: 9
Area of the Rectangle 63.00

In [ ]:
import random
random.randint(0,99)

15

In [ ]:
print(format(32,'b'))
print(format(64,'o'))
print(format(128,'x'))

100000
100
80

In [ ]:
m=int(input('Enter the Mass value(Kgs): '))
v=int(input('Enter the velocity value: '))
mov=m*v
print('The momentum in (m/s) is:',mov)

Enter the Mass value(Kgs): 45
Enter the velocity value: 34
The momentum in (m/s) is: 1530

In [ ]:
n,s,x=1,0,0
while n<=4:
  a=int(input('Enter 1 digit Binary Number from the right most bit: '))
  s=s+((2**x)*a)
  x=x+1
  n=n+1
print('The decimal value is: ',s)

Enter 1 digit Binary Number from the right most bit: 1
Enter 1 digit Binary Number from the right most bit: 1
Enter 1 digit Binary Number from the right most bit: 1
Enter 1 digit Binary Number from the right most bit: 1
The decimal value is:  15

In [ ]:
r=9  
for a in range(2,r+1):  
    k=0  
    for i in range(2,a//2+1):  
        if(a%i==0):  
            k=k+1  
    if(k<=0):  
        print(a, end = " ");

2 3 5 7

In [ ]:
num=1

if num==1:
    print('ONE')

ONE

In [ ]:
vehicle=1
type='car'
c='BMW'
b='Honda'
if vehicle:
    if type=='car':
        if c=='BMW':
            print('We have a vehicle and its a BMW car')
    if type=='bike':
        if b=='Honda':
            print('We have a vehicle and its a Honda bike')

We have a vehicle and its a BMW car

In [ ]:
vehicle=input('Do you own a vehicle: ')
if vehicle=='yes':
  type=input('Enter the type of vehicle: ')
  if type=='car':
    brand=input('Enter the brand of your car: ')
    print('You own a: ',type)
    print('Brand of the car is: ',brand)
  if type=='bike':
    brand=input('Enter the brand of your bike: ')
    print('You own a: ',type)
    print('Brand of the bike is: ',brand)
else:
  print('You don"t own a vehicle')

Do you own a vehicle: no
You don"t own a vehicle

In [ ]:
a=int(input('Enter the number: '))
if(a%2)==0:
    print("even number")
else:
    print("ODD")

Enter the number: 4
even number

In [ ]:
num=float(input('Enter the number: '))
if(num>0):
    print('Positive Number')
elif(num==0):
    print('ZERO')
else:
    print('Negative number')

Enter the number: -1
Negative number

In [ ]:
num1=int(input('Enter the 1st number: '))
num2=int(input('Enter the 2nd number: '))
if(num1 > num2):
    print('num1 is greater')
elif(num1 < num2):
    print('num2 is greater')
else:
    print('Equal')

Enter the 1st number: 20
Enter the 2nd number: 20
Equal

In [ ]:
ch=input('Enter the character: ')
if(ch=='A'):
    print("Apple")
elif(ch=='B'):
    print("Banana")
elif(ch=='C'):
    print("Coconut")
else:
    print("Invalid")

Enter the character: d
Invalid

In [ ]:
num1=float(input('Enter the num1 value: '))
num2=float(input('Enter the num2 value: '))
num3=float(input('Enter the num3 value: '))
if(num1>num2):
    if(num1>num3):
        print('num1 is greatest')
    else:
        print('num3 is greatest')
else: 
    if(num2>num3):
        print('num2 is greatest')
    else:
        print('num3 is greatest')

Enter the num1 value: 10
Enter the num2 value: 20
Enter the num3 value: 30
num3 is greatest

In [ ]:
num=int(input('Enter the score between 1 to 100: '))
if(num>89):
    print('Grade A')
elif(num>79 and num<90):
    print('Grade B')
elif(num>69 and num<80):
    print('Grade C')
else:
    (num<70)
    print('Grade F')

Enter the score between 1 to 100: 58
Grade F

In [ ]:
length=float(input('Enter the Length in (cm): '))
breadth=float(input('Enter the breadth in (cm): '))
perimeter=2*(length+breadth)
cost_fencing=168*perimeter
print('Total fencing cost of rectangular garden is: ',cost_fencing)

Enter the Length in (cm): 432
Enter the breadth in (cm): 634
Total fencing cost of rectangular garden is:  358176.0

In [ ]:
ch1=input('Enter the name of first person: ')
x=int(input('Enter the age of first person: '))
ch2=input('Enter the name of second person: ')
y=int(input('Enter the age of second person: '))
if(x<y):
    print('The youngest is',ch1)
else:
    print('The youngest is',ch2)

Enter the name of first person: David
Enter the age of first person: 67
Enter the name of second person: Jennifier
Enter the age of second person: 32
The youngest is Jennifier

In [ ]:
a=int(input('Enter First side: '))
b=int(input('Enter Second side: '))
c=int(input('Enter Third side: '))

if(a==b and b==c):
    print('Equilateral Triangle')
elif(a==b or b==c or c==a):
    print('Isosceles Triangle')
else:
    print('Scalene Triangle')

Enter First side: 5
Enter Second side: 10
Enter Third side: 15
Scalene Triangle

In [ ]:
x=int(input('Enter the value 3-digit number'))
if(x>99) and (x<999):
  a=x%10
  x=int(x/10)
  b=x%10
  x=int(x/10)
  print(a**3+b**3+x**3)
else:
  print("Invalid input")

Enter the value 3-digit number457
532

In [ ]:
num=int(input('Enter a number: '))
sum=0
temp=num
while temp>0:
  digit=temp%10
  sum+=digit**3
  temp//=10
  print(sum)

Enter a number: 55
125
250

In [ ]:
c=input('Enter a character: ')
x='a'
x=ord(c)
if(x>65 and x<=90):
  print('is a alphabet')
elif(x>=48 and x<=57):
  print('Digit')
else:
  print(c,'is specical character')

Enter a character: A
A is specical character

In [ ]:
c=input('Enter a character: ')
x=ord(c)
if(x>65 and x<=90):
  print('is a alphabet')
elif(x>=48 and x<=57):
  print('Digit')
else:
  print(c,'is specical character')

Enter a character: A
A is specical character

In [ ]:
x="o"
ord(x)

111

In [ ]:
x=int(input('Enter the x value: '))
y=int(input('Enter the y value: '))

if(x>0 and y>0):
    print('First Quadrants')
elif(x<0 and y>0):
    print('Second Quadrants')
elif(x<0 and y<0):
    print('Third Quadrants')
else:
    print('Fourth Quadrants')

Enter the x value: -5
Enter the y value: +1
Second Quadrants

In [ ]:
fact=1
n=int(input('Enter a number: '))
if(n==0) or (n==1):
    fact=1
    print('Factorial is',fact)
else:
    for i in range(1,n+1):
      fact=fact*i
    print('Factorial is: ',fact)

Enter a number: 5
Factorial is:  120

In [ ]:
while(1):
  b3,b2,b1,b0=eval(input('Enter a 4-bit binary number one bit at a time from MSB: '))
  d=(b3*(2**3))+(b2*(2**2))+(b1*2)+b0
  print('Decimal equivalent is:',d)
  if d==0:
    break
  else:
    if((d%5)==0):
      print('THe number {0} is divisible by 5'.format(d))
    else:
      print('The number{0} is not divisible by 5'.format(d))

In [ ]:
flag=1
num=int(input('Enter a number: '))
for i in range(2,num//2+1):
  if(num%i==0):
    flag=0
    break
if(flag==0):
    print('Not prime')
else:
    print('Prime')

Enter a number: 2
Prime

In [ ]:
num=int(input("multiplication table of: "))

for i in range(1,11):
    print(num, 'x',i,'=', num*i)

multiplication table of: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
np=0
nn=0
nz=0
count=1
n=int(input('Enter the total no. of numbers: '))
while count<=n:
  count=count+1
  num=int(input('Enter a number: '))
  if(num>0):
      print('positive')
      np=np+1
  elif(num<0):
      print('Negative')
      nn=nn+1
  else:
      print('ZERO')
      nz=nz+1
print('\n')
print('POSITIVE COUNT: ',np)
print('NEGATIVE COUNT: ',nn)
print('ZERO COUNT: ',nz)

Enter the total no. of numbers: 5
Enter a number: 2
positive
Enter a number: 4
positive
Enter a number: -1
Negative
Enter a number: -3
Negative
Enter a number: 0
ZERO


POSITIVE COUNT:  2
NEGATIVE COUNT:  2
ZERO COUNT:  1

In [ ]:
inc = int(input("Enter the inc value"))
start = ord(input("Enter starting point"))
while start <= ord("z"):
  print(chr(start),end = " ")
  start += inc

Enter the inc value2
Enter starting pointc
c e g i k m o q s u w y

#PRACTICE PROBLEMS

In [ ]:
h_age = int(input("Input a cat's age in human years: "))
if h_age < 0:
   print("Age must be positive number.")
   exit()
elif h_age <= 2:
   c_age = h_age * 10.5
else:
   c_age = 21 + (h_age - 2)*4
print("The cat's age in cat's years is", c_age)

Input a cat's age in human years: 5
The cat's age in cat's years is 33

In [ ]:
p = int(input("Enter price of Potato"))
t = int(input("Enter price of Tomato"))
o = int(input("Enter price of Onion"))
if p <= 20:
   print("Buy 5kg")
else:
   print("Buy 1kg")
if t <= 40:
   print("Buy 2kg")
else:
   print("Buy 1kg")
if o <= 100:
   print("Buy 2kg")
else:
   print("Buy 1kg")

Enter price of Potato19
Enter price of Tomato39
Enter price of Onion102
Buy 5kg
Buy 2kg
Buy 1kg

In [ ]:
n=5;
for i in range(n):
   for j in range(i):
      print ('* ', end="")
   print('')
for i in range(n,0,-1):
   for j in range(i):
      print('* ', end="")
   print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
datalist = [1452, 11.23, 1+2j, True, 'resource', (0, -1), [5, 12],
{"class":'V', "section":'A'}]
for item in datalist:
    print ("Type of ",item, " is ", type(item))

Type of  1452  is  <class 'int'>
Type of  11.23  is  <class 'float'>
Type of  (1+2j)  is  <class 'complex'>
Type of  True  is  <class 'bool'>
Type of  resource  is  <class 'str'>
Type of  (0, -1)  is  <class 'tuple'>
Type of  [5, 12]  is  <class 'list'>
Type of  {'class': 'V', 'section': 'A'}  is  <class 'dict'>

In [ ]:
for i in range(50):
    if i==0:
       print(i)
       continue
    if i%3 == 0 or i%5 == 0:
       if i % 3 == 0 and i % 5 == 0:
          print(i,"THREEFIVE")
       elif i % 3 == 0:
          print(i,"THREE")
       elif i % 5 == 0:
          print(i,"FIVE")
    else:
       print(i)

0
1
2
3 THREE
4
5 FIVE
6 THREE
7
8
9 THREE
10 FIVE
11
12 THREE
13
14
15 THREEFIVE
16
17
18 THREE
19
20 FIVE
21 THREE
22
23
24 THREE
25 FIVE
26
27 THREE
28
29
30 THREEFIVE
31
32
33 THREE
34
35 FIVE
36 THREE
37
38
39 THREE
40 FIVE
41
42 THREE
43
44
45 THREEFIVE
46
47
48 THREE
49

In [ ]:
sdiv = 0
n = int(input('Enter a number'))
for i in range(1,n//2 +1):
   if n % i == 0:
      sdiv = sdiv + i
if n == sdiv:
   print('Perfect number')
else:
   print('Not a perfect number')

Enter a number6
Perfect number

In [ ]:
scubes = 0
n = int(input('Enter a number'))
num = n
while n != 0:
   digit = n % 10
   scubes = scubes + digit ** 3
   n = n//10
if (scubes == num):
   print('The number {0} is an armstrong number'.format(num))
else:
   print('The number {0} is not an armstrong number'.format(num))

Enter a number153
The number 153 is an armstrong number

In [ ]:
a = 0
b = 1
n = int(input('enter the number of terms'))
if n == 1:
   print(a)
elif n == 2:
   print("{0} \n{1}".format(a,b))
else:
   print("{0} \n{1}".format(a,b))
   count = 2
   while(count < n):
      c = a + b
      print(c)
      count = count + 1
      a = b
      b = c

enter the number of terms10
0
1
1
2
3
5
8
13
21
34

In [ ]:
nd = int(input("Enter the number of digits"))
num = 0
for i in range(0, nd):
   d = int(input("Enter a digit"))
   num = (num*10) + d
print("The input number is", num)

Enter the number of digits5
Enter a digit2
Enter a digit7
Enter a digit4
Enter a digit5
Enter a digit3
The input number is 27453

In [ ]:
count = int(input("Enter the total number of numbers to print"))
a,b,c = 0,1,1
print(a,'\n',b,'\n',c,'\n')
for i in range(0,count-3):
   d = a + b + c
   print(d,'\n')
   a = b
   b = c
   c = d

Enter the total number of numbers to print10
0
 1
 1

2

4

7

13

24

44

81